.groupTitle {
	white-space: nowrap;
	flex-shrink: 0;
}

.groupTitleWrapper {
	user-select: none;
}

.groupDivider {
	flex-grow: 1;
	border-bottom: 1px solid var(--mantine-color-gray-3);
	height: 1;
}
